
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #05013436;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Container for centering content */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff40;
    border: 1px solid #cccccc48;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Style the image */
img {
    max-width: 100%;
    margin-bottom: 20px;
}

/* Style the form elements */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the checkbox and label */
#manager {
    margin-right: 5px;
    color:#fff ;
}

label[for="manager"] {
    font-weight: bold;
    color: #fff;
}

/* Style the sign-up button */
#login {
    width: 100%;
    padding: 10px;
    background-color: #070231;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login:hover {
    background-color: #0056b3;
}

/* Style the error message */
#error-message {
    text-align: center;
    margin-top: 10px;
    color: #fff;
}
/* Header styles */
header {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 50px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

.logo span {
    font-size: 22px;
    justify-content: space-between;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -15px;
    margin-bottom: -15px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}




.profile-cart a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
  }


.profile-cart a img {
    width: 30px; 
    height: 30px; 
    margin: 0 10px; 
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


hr {
    border: none;
    border-top: 1px solid #555;
    width: 100%; 
}

.text-center {
    text-align: center;
}
